textarea {
  outline: none;
  border: 1px #333333 solid;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
  display: inline-block;
  float: left;
  padding: 2;
}

#viewerBody {
  float: right;
  position: absolute;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 5px;
  padding: 2;
}